<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar">
            <h1>Dash-Back</h1>
            <ul class="nav-items">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </body>

    <style>
        .navbar {
            border-bottom: 1px solid rgb(201, 201, 201);
        }

        h1{
            color: black;
            font-size: 2rem;
        }

        .nav-items{
            float: right;
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
        }
        
        .nav-item{
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem
        }
    </style>