<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37145897-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-37145897-4');
    </script>
    <!-- end gtag -->
    <link rel="icon" href="/images/dashback-favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <title>DashBack - Verify Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://w.appzi.io/bootstrap/bundle.js?token=LwYdk"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class=" h-100 d-flex justify-content-center align-items-center text-center">
    <div>
        <h1>Verify your email</h1>
        <p>You will need to verify your email to continue to DashBack</p>
        <img style="width: 50%;" src="/images/verify-email.png">
        <p style="margin-top: 1rem;color: grey;font-weight: 100;font-size: 1rem;width: 65%;margin: 1rem auto;">An email has been sent to your email with a link to verify your account. If you have not received the email after a few minutes, please check your spam folder and contact support.</p>
        <a href="/login"><button class="btn btn-warning" style="margin-right: 0.5rem;">Retry Login</button></a>
        <a href="mailto:support@hype-industries.com"><button class="btn btn-outline-dark">Contact Support</button></a>
    </div>
  </div>
</body>
