<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DashDack Documentation</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="Description">
  <link rel="icon" href="/images/dashback-favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="//unpkg.com/docsify/lib/themes/vue.css">
  <link rel="stylesheet" href="https://unpkg.com/dracula-prism/css/dracula-prism.css">
</head>
<body>
  <div id="app"></div>
  <img src="/images//dashback-logo-yellow.png" style="position: fixed;top: -10px;width: 50px;right: 2rem;">
  <script>
    window.$docsify = {
      name: 'DashBack',
      themeColor: '#FBD94A',
      relativePath: true,
      loadSidebar: true,
      basePath: '/static/documentation/',

      // complete configuration parameters
      search: {
        maxAge: 86400000, // Expiration time, the default one day
        paths: 'auto', // or 'auto'
        placeholder: 'Search Documents',
        noData: 'No Results!',
        depth: 6,
        hideOtherSidebarContent: true, // whether or not to hide other sidebar content
      },
      tabs: {
        persist    : false,      // default
        sync       : false,      // default
        tabComments: true,      // default
        tabHeadings: true       // default
      }
    }
  </script>
  <script src="//unpkg.com/docsify/lib/docsify.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify/lib/plugins/search.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-json.min.js" integrity="sha256-18m89UBQcWGjPHHo64UD+sQx4SpMxiRI1F0MbefKXWw=" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify-copy-code"></script>
  <script src="https://cdn.jsdelivr.net/npm/docsify-tabs@1"></script>
</body>
</html>


<style>
.app-name .app-name-link {
  font-weight: bold;
}

.sidebar-toggle span {
  background-color: black;
}

.markdown-section pre {
  border-radius: 0.5rem;
}
.markdown-section pre, .markdown-section pre > code {
  background: #1a1a1a;
  color: white;
}
</style>
